.canvas {
    position:absolute;
    z-index: 9999;
}

.webcam {
    position: absolute;
}

.togglePrediction {
    color: white;
    background-color: black;
    width: 50%;
    max-width: 250px;
}

